body {
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	margin: 0;
	color: #000000;
	font-size: 15px;

}
div, p, input, header, a, form {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

h2 {
	font-size: 38px;
	text-align: left;
	color: #543024;
}

h3 {
	font-size: 19px;
	color: #543024;
}

section {
	padding-top: 87px;
}

ul,li {
	display: flex;
	padding: 0;
	margin: 0;
}


a {
	text-decoration: none;
	transition: all 0.5s ease;
}


.btn {
	background: #FF7D34;
	border-radius: 67px;
	width: 209px;
	padding: 15px 40px;
	display: block;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background: #F86D1F;
}


.btn-ghost:hover {
	background: #FF7D34;
	color: #FFF;
}

/*Popup window start*/

#myModal {
  width: 350px; height: 250px;
  margin: 0 auto;
  padding: 30px 35px;
  border-radius: 4px;
  background: #fafafa;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 38;
  text-align: center;
}
#myModal #myModal__close {
  width: 21px; height: 21px;
  position: absolute;
  top: 1px; right: 11px;
  cursor: pointer;
  display: block;
  font-size: 29px;
}
#myOverlay {
  z-index: 37;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor: pointer;
  display: none;
}

.btn-popup {
	background: #FF7D34;
	border-radius: 5px;
	padding: 10px 30px;
	margin-top: 10px;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	border: none;
	cursor: pointer;;
}

.form-container {
	height: 250px;
	align-content: center;

}
.form-container input {
	padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/*popup window end*/

.container {
	width: 1200px;
	margin: 0 auto;
}

.container h2 {
	margin-bottom: 30px;
}

.header {
	background: url('../img/header.jpg') no-repeat center top / cover;
	color: #fff;
	padding-top: 43px;
	padding-bottom: 76px;
}

.header a {
	color: #fff;
}

.nav {
	display: flex;
	align-items: center;
}

.menu-btn img {
	display: block;
	margin-left: 110px;
	width: 30px;
	display: none;
}


.logo {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.055em;
	display: block;
	padding-left: 34px;
	background: url('../img/logo.svg') no-repeat left center / contain;
	margin-right: 87px;
}

.menu {
	display: flex;
}

.menu li:not(:last-child) {
	margin-right: 48px;

}

.menu a {
	padding-bottom: 5px;
	border-bottom: 1px solid transparent;
}

.menu a:hover {
	border-bottom: 1px solid #fff;
	
}	

.menu-trip {
	font-weight: bold;
	font-size: 14px;
	margin-left: 74px;
}

.menu-trip p:last-child {
	font-size: 12px;
	font-weight: normal;

}

.call {
	display: flex;
	font-weight: bold;
	font-size: 14px;
	align-items: center;
	margin-left: auto;
}

.call span {
	font-size: 15px;
	font-weight: bold;
	margin-left: 21px;
}

.call-btn {
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	display: block;
	padding: 11px 26px;
	text-align: center;
	font-size: 14px;
}

.call-btn:hover {
	background: #fff;
	color: #3B4B81;
}

.offer {
	margin-top: 193px;
	text-align: center;
	
}

.offer h1 {
	font-size: 50px;
	margin-bottom: 10px;
}

.offer p {
	width: 462px;
	height: 71px;
	margin: 0 auto;
	margin-bottom: 21px;
	font-size: 17px;
	font-weight: normal;
	line-height: 1.38em;
}

.offer .btn {
	margin: 0 auto;
	font-size: 17px;
	font-weight: bold;
}

 /*стрелочка*/

.arrow {
	display: block;
	height: 15px;
	width: 15px;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	transform: rotate(45deg);
	margin: 180px auto 0;
}

/*Пульсирующий экран*/
.world {
  width: 250px;
  height: 200px;
  /*border: 1px solid gray;*/
  overflow: hidden;
}
 
.world img {
  width: 100%;
  position: relative;
}
/*end*/

.destinations {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.destinations-item {
	width: 585px;
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
	border-radius: 15px 0px 15px 15px;
	transition: all 0.5s ease;
	margin-top: 31px;
	
}

.destinations-item:hover {
	box-shadow: 0px 10px 20px rgba(32, 40, 69, 0.24);
}

.destinations-item img {
	display: flex;
	border-radius: 15px 0px 0px 15px;
	width: 277px;
}

.destinations-content {
	padding: 35px 21px 16px 29px;
}

.destinations-content p {
	font-size: 13px;
	font-weight: normal;
	margin-top: 12px;
}


.destinations-details {
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 16px;
}

.destinations-details span {
	color: #fff;
	background: #EE3C5C;
	border-radius: 30px;
	padding: 3px 13px;
	margin-bottom: 16px;
}

.destinations-date {
 	color: #FF3465;
	margin-left: 8px;
	display: inline;
}

.destinations-more {
	display: none;
}
.destinations-visible {
	display: flex;
}

.btn-routes {
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	color: #FF7D34;
	border: 1px solid #FF7D34;
	border-radius: 69px;
	padding: 15px 29px;
	margin-top: 58px;
	display: inline-block;
}


.about h2 {
	margin-bottom: 49px;
}

.about-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-content img {
	display: block;	
	border-radius: 15px 15px 15px 15px;
	width: 585px;

}

.about-text {
	width: 572px;
}

.about-text h3 {
	margin-bottom: 25px;
}

.about-text p {
	line-height: 1.4em;
	margin-bottom: 25px;
	font-weight: normal;
	width: 572px;
	
}

.section-title h2 {
	margin-bottom: 49px;
}

.contacts-form {
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
	border-radius: 20px;
	width: 601px;
	text-align: center;
	padding: 58px 64px 97px;
	display: inline-block;
}

.contacts-form h3 {
	width: 367px;
	margin-bottom: 45px; 
	text-align: left;

}

.contacts-form input {
	border: 1px solid rgba(39, 52, 86, 0.26);
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	display: block;
	width: 100%;
	padding: 20px 26px;
	margin-bottom: 18px;
}

.form-btn {
	width: 296px;
	padding: 22px 84px;
	color: #FFF;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s ease;
}

.form-btn:hover {
	background: #F86D1F;
}


.contacts-wrap {
	width: 994px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts-phone {
	text-align: center;
}


.contacts-phone img {
	margin-bottom: 23px;
}	

.contacts-phone span {
	font-size: 20px;
	font-weight: bold;
	color: #72341A;
	display: block;
}

.footer {
	padding: 116px 0 119px;
}
.footer-text {
	font-size: 14px;
	color: rgba(114, 52, 26, 0.6);
	text-align: center;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.menu {
		display: none;
  	}
  	.menu-trip {
  		display: none;
  	}
	.menu-btn img {
  		display: block;
   	}
   	.destinations-item {
   		margin-bottom: 30px;
   		width: 960px;
   	}
   	.destinations-item img {
   		width: 50%;
   	}
   	   	
   	.about-content {
   		flex-wrap: wrap;
   	}
   	.about-content img {
   		width: 100%;
   	}

   	.about-text p {
   		width: 960px;
   	}

   	.contacts-wrap {
   		display: block;
   		width: 100%;
  	}

   	.contacts-form {
   		margin: 0 auto 112px;
   		display: block;
   	}

   	.contacts-phone {
        display: block;	
    }

}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.destinations-item {
		margin-bottom: 20px;
	}
	.about-text p {
   		width: 720px;
   	}
   	.contacts-form {
   		width: 720px;
   	}
   		
}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.logo {
		margin-right: 20px;
	}
	.call-btn {
		padding: 12px 8px;
	}
	.call-btn span {
		margin-left: 10px;
	}
	.menu-btn img {
		margin-left: 20px;
	}
	.offer h1 {
		line-height: 1em;
		font-size: 46px;
	}
	.offer p {
		line-height: 1.2em;
		margin-bottom: 15px;
	}
	.destinations-item {
		width: 100%;
	}
	.destinations-details {
		justify-content: space-between;
	}
	.destinations-content {
		padding-left: 20px;
		padding-right: initial;
	}
	.about-text p {
		width: 540px;
	}
	.contacts-form {
   		width: 100%;
   	}
   	
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	h2 {
		font-size: 20px;
		}
	
	h3 {
		font-size: 16px;
	   }
	
	.call {
		display: none;
	}
	.menu-btn {
		margin-left: auto;
	}
	.menu-btn img {
		margin-left: 0;
	}
	.offer h1 {
		font-size: 30px;
	}
	.offer p {
		width: 100%;
		font-size: 16px;
		margin-top: 23px;
		margin-bottom: 75px;
	}
	.offer {
		margin-top: 120px;
	}
		
	.arrow {
		margin-top: 80px;
	}
	section {
		padding-top: 51px;
	}
	.destinations-item {
		flex-direction: column;
		margin: auto;
		margin-bottom: 30px;
	}
	.destinations-item img {
		width: 100%
    }
    .destinations-content {
    	font-size: 12px;
    	padding: 20px 15px;
 	}

    .destinations-details {
    	font-size: 12px;
    }

    .destinations-details p {
    	font-size: 12px;
    }
    .btn-routes {
    	margin-top: 48px;
    }
    .about-text p {
		width: 100%;
		font-size: 15px;
	}
	
	.contacts-form {
		padding: 50px 20px;

	}
   	.contacts-form h3 {
    	width: 100%;
	    margin-bottom: 36px;
	    text-align: left;
   	}
   	.contacts-form input {
   		padding: 15px 20px;
   		font-size: 16px;
   	}

   	.form-btn {
   		width: 100%;
   		padding: 22px 10px;
   	}
   	.contacts-phone {
   		margin-top: 57px;
   	}
   	.footer-text {
   		padding: 116px auto 119px;
   	}
}
